/******************************
 * COMMON
 ******************************/
/* colors */
.black-color,
body, #main-header a, .hover-effect .item h2 a {
	color: rgb(24, 47, 65) !important;
}
.grey-border,
.form-control:focus{
	border-color: rgb(180, 190, 200);
}
.grey-bg{
	background: rgb(233, 236, 239);
}
.grey-color{
	color: rgb(180, 190, 200);
}
.white-color, .main-bg, .grey-bg,
.hover-effect .item .img:before {
	color: white !important;
}
.white-bg{
	background: white;
}
::selection {
	background: rgb(223, 237, 235);
}
::-moz-selection {
	background: rgb(223, 237, 235);
}
.main-color,
#main-header a:hover, #main-header a.current{
	color: rgb(24, 47, 65) !important;
}
.main-border{
	border-color: rgb(24, 47, 65);
}
.main-bg,
#main-header ul li a:after{
	background: rgb(24, 47, 65);
}
.secondary-color,
.hover-effect .item:hover h2 a{
	color: rgb(241, 147, 114) !important;
}
.secondary-bg,
.hover-effect .item:hover .img:after,
.categories ul li:before,
.custom-control-input:checked~.custom-control-label::before{
	background-color: rgb(241, 147, 114);
}
.secondary-border,
.categories ul li::after,
.custom-control-input:checked~.custom-control-label::before{
	border-color: rgb(241, 147, 114);
}
.tertiary-color{
	color: rgb(150, 197, 189);
}
input::-webkit-input-placeholder {
	color: rgb(150, 197, 189);
}
input::-moz-placeholder {
	color: rgb(150, 197, 189);
}
input:-ms-input-placeholder {
	color: rgb(150, 197, 189);
}
input::-ms-input-placeholder {
	color: rgb(150, 197, 189);
}
input::placeholder {
	color: rgb(150, 197, 189);
}
.tertiary-bg{
	background-color: rgb(150, 197, 189);
}
.tertiary-border{
	border-color: rgb(150, 197, 189);
}
.focus, .btn:focus,
.form-control:focus,
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
}
.form-control:focus{
	border-color: #ced4da;
}

/* font */
@font-face {
	font-family: 'MsMadi';
	src: url('../font/MsMadi-Regular.ttf');
}
.ms-madi{
	font-family: 'MsMadi', sans-serif;
}
h1.ms-madi {
	font-size: 3.5rem;
	line-height: 1em;
}
h2.ms-madi a {
	font-size: 1.8rem !important;
	line-height: 1em;
	margin-top: 5px;
}
.hover-effect .item .ms-madi {
	font-size: 1.4rem;
}

/* generic */
*{
	box-sizing: border-box;
}
body, html{
	padding: 0;
	margin: 0;
	width: 100%;
}
input{
	background: none;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
.logo {
	width: 100%;
	max-width: 120px;
	padding-bottom: 20px;
}
.logo img {
	display: block;
	width: 100%;
}

section {
	position: relative;
}
.img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hover-effect .item{
	position: relative;
}
.hover-effect .item h2 a {
	display: block;
	line-height: 30px;
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
}
.hover-effect .item .img{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 0;
}
.hover-effect .item .text, .hover-effect .item .img:before, .hover-effect .item .img:after{
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.hover-effect .item .img:before, .hover-effect .item .img:after{
	opacity: 0;
}
.hover-effect .item .img:before{
	position: absolute;
	z-index: 1;
	content:"\f0f5";
	font-family: FontAwesome, sans-serif;
	font-size: 2em;
}
.hover-effect .item .img:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}
.hover-effect .item:hover .img:before{
	opacity: 1;
}
.hover-effect .item:hover .img:after{
	opacity: 0.5;
}

/* header */
#main-header{
	padding: 20px 0;
}
#main-header .container-xl{
	position: relative;
}
#main-header .logo {
	max-width: 150px;
	margin: 0 auto;
	padding-bottom: 20px;
}
#main-header .menu {
	position: relative;
}
#main-header nav {
	text-align: center;
}
#main-header ul{
	margin: 0;
	padding: 0;
}
#main-header ul li {
	display: inline-block;
	margin-right: 60px;
	position: relative;
	font-size: 20px;
	font-weight: 700;
}
#main-header ul li:last-child {
	margin-right: 0;
}
#main-header ul li:after {
	position: absolute;
	right: -35px;
	top: 4px;
	height: 21px;
	width: 2px;
	content: '';
}
#main-header ul li a {
	padding: 5px;
	position: relative;
}
#main-header ul li a, #main-header ul li a:after{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#main-header ul li a:hover{
	text-decoration: none;
}
#main-header ul li a:after {
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	content: '';
	opacity: 0;
}
#main-header ul li a.current:after, #main-header ul li a:hover:after {
	opacity: 1;
}
#main-header #languages{
	position: absolute;
	top: 0;
	right: 10px;
}
#main-header #languages li{
	margin-right: 0;
	font-size: 16px;
}

/* footer */
footer{
	padding: 30px 0;
	margin-top: 30px;
}
.copy{
	font-size: 14px;
	padding-top: 50px;
	text-align: center;
}

/* search */
#main-header .search-button {
	position: absolute;
	right: 150px;
	top: -2px;
	font-size: 21px;
	cursor: pointer;
}
#search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
}
#search-model .close {
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 40px;
	line-height: 42px;
	border-radius: 50%;
	top: 30px;
	right: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);;
	-moz-transform: rotate(45deg);;
	-ms-transform: rotate(45deg);;
	-o-transform: rotate(45deg);;
	transform: rotate(45deg);;
}
#search-model input {
	width: 500px;
	font-size: 40px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

/* 404 */
#error-404 {
	min-height: 580px;
	padding: 15px 30% 15px 15px;
	background: url('../img/404.jpg') no-repeat center;
	background-size: cover;
}
#error-404 h2 {
	font-size: 2.6em;
}
#error-404 h3 {
	font-size: 1.4em;
}

/******************************
 * HOME
 ******************************/
section {
	padding-bottom: 30px;
}
section h5 {
	display: block;
	padding: 18px 40px;
	text-align: center;
}
.title-left, .title-right {
	width: 50%;
}
.title-right {
	text-align: left;
	float: right;
}
.title-left{
	text-align: right;
}

.mosaic{
	padding-top: 10px;
}
.mosaic .item{
	text-align: center;
	margin-bottom: 25px;
}
.mosaic .img {
	height: 311px;
}
.mosaic .large-item .img {
	height: 745px;
}
.mosaic .text {
	padding: 5px 10px 0 10px;
}
.mosaic .large-item .text {
	text-align: center;
	display: inline-block;
	margin-top: -56px;
	padding: 20px 35px;
	z-index: 999;
	position: relative;
}
.mosaic .large-item .text span {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
}

.categories{
	padding-bottom: 50px;
}
.categories ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.categories ul li {
	display: inline-block;
	padding: 15px 40px;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.categories ul li:before, .categories ul li:after{
	content: '';
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.categories ul li:before {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.categories ul li::after {
	left: 50%;
	bottom: -12px;
	border-top-width: 20px;
	border-top-style: solid;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	-o-transform: translateX(-10px);
	transform: translateX(-10px);
}
.categories ul li:hover:before, .categories ul li:hover:after,
.categories ul li.active:before, .categories ul li.active:after{
	opacity: 1;
}
#filter-items{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
#filter-items .item {
	width: 20%;
	padding: 0 10px;
	margin-bottom: 20px;
}
#filter-items .item .img{
	height: 150px;
}
#filter-items .item a{
	display: block;
	font-size: 1.6rem;
	line-height: 1.1em;
	text-align: center;
	padding: 0 10px 10px;
}

#recipes {
	padding: 0;
	margin: 0;
	list-style: none;
}
#recipes li {
	float: left;
	width: 50%;
	padding: 10px 0;
	margin-bottom: 20px;
}
#recipes li .row{
	margin-right: 0;
}
#recipes li .col-sm-8{
	padding-left: 0;
}
#recipes .img{
	height: 180px;
}
.filter{
	padding: 20px 3px;
}
.filter h6{
	margin-bottom: 3px;
}
.filter .input-group-append{
	display: none;
}
.filter input[type="text"], .filter .input-group-text{
	border-top: none;
	border-left: none;
	border-right: none;
}
.filter .input-group-text{
	background: none;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.filter ul{
	margin: 0;
	padding: 0 0 0 5px;
	max-height: 240px;
	overflow-y: scroll;
}

/******************************
 * LIST
 ******************************/
#show-filters{
	display: none;
}
#list .title{
	font-size: 2.5rem;
	font-weight: 500;
}
#list .title h1{
	display: inline;
}

/******************************
 * RECIPE
 ******************************/
#recipe-detail{
	max-width: 1500px;
}
#recipe-detail .col-lg-7, .ingredients header{
	padding-top: 30px;
}
.ingredients header{
	position: relative;
	padding-top: 30px;
}
.ingredients header .img{
	position: absolute;
	top: 0;
	width: 120px;
	height: 120px;
	left: 50%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	-ms-transform: translateX(-60px);
	-o-transform: translateX(-60px);
	transform: translateX(-60px);
}
.ingredients header .img + .resume{
	padding-top: 100px;
}
.ingredients header >*:not(.img){
	padding: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.ingredients header .resume{
	margin-bottom: 20px;
}
.ingredients header > ul{
	-webkit-border-bottom-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;;
	-webkit-border-bottom-right-radius: 0 !important;;
	border-bottom-right-radius: 0 !important;;
}
.ingredients header h1{
	margin-bottom: 10px;
}
.ingredients header ul{
	padding: 10px;
	text-align: center;
	margin-bottom: 0;
}
.ingredients header ul li{
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 3px 0;
}
.ingredients header ul li.clearfix{
	display: inline-block;
	padding: 0;
}
.ingredients header ul span{
	font-weight: normal;
}
.ingredients header label{
	margin-bottom: 0;
}
.ingredients header .input-group{
	width: 100px;
}
.ingredients header .input-group .btn{
	padding: 0 10px;
	border: none;
	font-size: 1.3em;
}
.ingredients header .input-group .form-control{
	padding: 0;
	height: auto;
}
.ingredients header .input-group input{
	text-align: center;
	border: none;
}
.ingredients .list{
	padding: 20px;
	border-width: 1px;
	border-style: solid;
}
.ingredients .list h5{
	padding: 0;
}
.ingredients .link a{
	padding: 5px;
	display: block;
	text-align: center;
	font-size: 0.9em;
}
.step span{
	display: block;
	padding-top: 20px;
}
#arrows{
	padding: 10px 0 15px 0;
}
#arrows .slick-disabled{
	display: none !important;
}
#arrows .slick-arrow{
	cursor: pointer;
	font-size: 2em;
	padding: 2px 15px !important;
	text-align: center;
}
#arrows .previous{
	float: left;
}
#arrows .next{
	float: right;
}
.slick-slider {
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}
.slick-slide{
	outline: none;
}
.steps img{
	display: inline;
	max-width: 90%;
	max-height: 350px;
	text-align: center;
	margin: 0 auto;
}

/******************************
 * RESPONSIVE
 ******************************/
@media only screen and (max-width: 993px) {

	/* home */
	#filter-items .item{
		width: 25%;
	}

	/* list */
	#show-filters{
		display: block;
		text-decoration: underline;
	}
	#list form > div{
		display: none;
	}
	#list .filters{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#list .filters > div{
		width: 33.33%;
	}
	#list .filters > div:nth-child(1),
	#list .filters > div:nth-child(2){
		width: 50%;
	}

}
@media only screen and (max-width: 767px) {

	.title, .title-left, .title-right {
		width: 100%;
		text-align: left;
	}

	/* home */
	.mosaic .large-item .img{
		height: 500px;
	}
	#filter-items .item{
		width: 33.33%;
	}

	/* recipe */
	#recipe-detail aside{
		margin-bottom: 20px;
	}

}
@media only screen and (max-width: 577px) {

	/* home */
	#filter-items .item{
		width: 50%;
	}
	#recipes li{
		width: 100%;
	}

}
@media only screen and (max-width: 400px) {

	/* home */
	#filter-items .item{
		width: 100%;
	}

}